
.image-viewer-window {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30%; 
  background-color: #050505;
  border: 1px solid currentColor;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: inherit; 
}


.viewer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid currentColor;
  font-family: monospace;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.05); 
}


.viewer-close {
  cursor: pointer;
  font-weight: bold;
}

.viewer-close:hover {
  color: white; 
  text-shadow: 0 0 5px white;
}


.viewer-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, transparent 20%, #000 120%);
}

.viewer-content img {
  max-width: 100%;
  height: auto;
  filter: contrast(1.1) brightness(0.9) sepia(0.2) hue-rotate(180deg); 
  border: 1px dashed rgba(255, 255, 255, 0.2);
}